---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="nameGenerator()">
    <h1 x-text="currentName">Generated Name</h1>
    <button @click="getRandomName()">
        Generate Name
    </button>
</div>

<script>
    function nameGenerator() {
        return{
            currentName: 'Generate',
            getRandomName() {
                const randomIndex = getRandomIndex(listNames.length);
                this.currentName = listNames[randomIndex];
            }
        }
    }
</script>